# --- Dataset (no subir por privacidad) ---
data/*
!data/README.md

# --- Archivos de notebooks ---
.ipynb_checkpoints/

# --- Archivos temporales ---
__pycache__/
*.py[cod]

# --- Salidas y modelos entrenados ---
*.pt
*.bin
*.pkl
*.joblib

# --- Archivos de configuración local ---
.env
.venv
.env/

# --- Archivos de sistema ---
.DS_Store
Thumbs.db